<?xml version="1.0"?>
<launch>

    <!-- Config file -->
    <arg name="config" default="$(find rvio)/config/rvio_kaist.yaml" />

    <!-- Our launch details -->
    <node name="rvio" pkg="rvio" type="rvio_mono" args="$(arg config)" output="screen">
        <remap from="/imu" to="/imu/data_raw"/>
        <remap from="/camera/image_raw" to="/stereo/left/image_raw"/>
    </node>

</launch>
