<?xml version="1.0"?>
<launch>

    <!-- Config file -->
    <arg name="config" default="$(find rvio)/config/rvio_our.yaml" />

    <!-- Our launch details -->
    <node name="rvio" pkg="rvio" type="rvio_mono" args="$(arg config)" output="screen">
        <remap from="/imu" to="/imu_data"/>
        <remap from="/camera/image_raw" to="/image_raw"/>
    </node>

</launch>
